<html>
<head>
<title>{{fqdn}}</title>
</head>
<body>
<h1>{{fqdn}}</h1>

<div>
  <a href="https://argocd.{{fqdn}}">https://argocd.{{fqdn}}</a>
</div>

<div>
  <a href="https://keycloak.{{fqdn}}">https://keycloak.{{fqdn}}</a>
</div>

<div>
  <a href="https://jenkins.{{fqdn}}">https://jenkins.{{fqdn}}</a>
</div>

</body>
</html>