[Unit]
Description=minikube
After=network-online.target firewalld.service containerd.service docker.service
Wants=network-online.target docker.service
Requires=docker.socket containerd.service docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/minik/
ExecStart=/usr/local/bin/minikube start \
 --memory {{ minikube_memory }} \
 --cpus {{ minikube_cpus }} \
 --driver docker \
 --static-ip 192.168.200.200 \
 --mount --mount-string "volume_minikube:/data" \
 --mount --mount-string "volume_minikube_var_lib_docker:/var/lib/docker"
ExecStop=/usr/local/bin/minikube stop
User=minik
Group=minik

[Install]
WantedBy=multi-user.target