
server {
    listen 443;
    server_name rserve.{{fqdn}};

    # to get njs logging to work use common access log
    # access_log            /var/log/nginx/wildfly_access.log;

    location ~ / {

        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        proxy_pass          http://127.0.0.1:28080;
        proxy_read_timeout  90;

        proxy_redirect      http://127.0.0.1:28080  https://rserve.{{fqdn}};
    }
}