server {

    listen 443;
    server_name wiki.{{fqdn}};

    location ~ / {

        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        # Fix the “It appears that your reverse proxy set up is broken" error.
        proxy_pass          http://10.37.37.37:1717;
        proxy_read_timeout  90;

        proxy_redirect      http://10.37.37.37:1717  https://wiki.{{fqdn}};

        client_max_body_size 25m;
        add_header Content-Security-Policy "default-src 'self'; img-src https://*; child-src 'none';" always;
    }
}