[Unit]
Description=wiki
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name wiki \
 -p 10.37.37.37:1717:80 \
 -v /data/wiki/LocalSettings.php:/var/www/html/LocalSettings.php \
 -v /data/wiki/statastic-php.ini:/usr/local/etc/php/conf.d/statastic-php.ini \
 -v volume_wiki_images:/var/www/html/images \
 -v volume_wiki:/var/www/data \
 mediawiki:{{ wiki_version }}
ExecStop=/usr/bin/docker stop -t 2 wiki
ExecStopPost=/usr/bin/docker rm -f wiki

[Install]
WantedBy=default.target
