
server {

    listen 443;
    server_name keycloak.{{fqdn}};

    # to get njs logging to work use common access log
    # access_log            /var/log/nginx/keycloak_access.log;

    location ^~ /.well-known {
      root /var/www/html;
    }

    location / {
      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
      proxy_set_header        X-Forwarded-Host keycloak.{{fqdn}};

      # admin-console needs this (otherwise blank page)
      # FIXME: check if and why this is necessary
      add_header Content-Security-Policy "frame-src *; default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self'; style-src * 'unsafe-inline'; font-src 'self'; form-action 'self'; upgrade-insecure-requests;" always;

      # Fix the “It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://192.168.200.200:30031;
      proxy_read_timeout  90;

      proxy_redirect      http://192.168.200.200:30031  https://keycloak.{{fqdn}};

      # set size to enable upload of plugins
      client_max_body_size 5m;
    }
}
