[Unit]
Description=keycloak
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecPreStart=/usr/bin/docker rm -f keycloak
Environment=KEYCLOAK_ADMIN_PASSWORD={{keycloak_password_admin}}
Environment=KC_DB_PASSWORD={{keycloak_db_password}}
ExecStart=/usr/bin/docker run --name keycloak \
        -p 10.37.37.37:8080:8080 \
        -e TZ=Europe/Berlin \
        -e KEYCLOAK_ADMIN={{keycloak_admin_user}} \
        -e KEYCLOAK_ADMIN_PASSWORD \
        -e KC_DB=postgres \
        -e KC_DB_URL=jdbc:postgresql://10.37.37.37/keycloakdb \
        -e KC_DB_USERNAME=kc \
        -e KC_DB_SCHEMA=keycloak \
        -e KC_DB_PASSWORD \
        -e KC_HOSTNAME=keycloak.{{ fqdn }} \
        --mount source=volume_keycloak,target=/db \
        registry.gitlab.com/statastic/keycloak:{{ keycloak_docker_tag }}
ExecStop=/usr/bin/docker stop -t 2 keycloak
ExecStopPost=/usr/bin/docker rm -f keycloak

[Install]
WantedBy=default.target