
# reverse proxy configuration for couchdb
# - full access to / including POST, PUT, etc. requires basic auth login
# - GET requests to /readonly use the proxy user 'admin' to allow readonly access.
#      This allows the public use of Fauxton to browse the databases.
# - GET requests to /databases/<database-name> use the proxy user 'dummy'
server {
    listen 443;
    server_name couchdb.{{fqdn}};

    access_log            /var/log/nginx/couchdb_access.log;

    # for letsencrypt host verification
    location ^~ /.well-known {
      root /var/www/html;
    }

    location / {
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        proxy_pass          http://127.0.0.1:5984;
        proxy_read_timeout  90;

        proxy_redirect      http://127.0.0.1:5984  https://couchdb.{{fqdn}};
        auth_basic couchdb;
        auth_basic_user_file /etc/couchdb/htpasswd;
    }

    location ~ ^/readonly/(.*)$ {
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        proxy_set_header        X-Auth-CouchDB-UserName admin;
        proxy_set_header        X-Auth-CouchDB-Roles _admin;

        proxy_pass          http://127.0.0.1:5984/$1$is_args$args;
        proxy_read_timeout  90;

        proxy_redirect      http://127.0.0.1:5984  https://couchdb.{{fqdn}};
        # GET includes HEAD
        limit_except GET {
            deny  all;
        }
    }

    location ~ ^/databases/([a-z].*)$ {
        # allow cors for reading data
        add_header 'Access-Control-Allow-Origin' '*';

        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        proxy_set_header        X-Auth-CouchDB-UserName dummy;

        proxy_pass          http://127.0.0.1:5984/$1$is_args$args;
        proxy_read_timeout  90;

        # GET includes HEAD
        limit_except GET {
            deny  all;
        }
        proxy_redirect      http://127.0.0.1:5984/$1  https://couchdb.{{fqdn}}/$1;
    }
}

