[chttpd]
authentication_handlers = {chttpd_auth, cookie_authentication_handler}, {chttpd_auth, proxy_authentication_handler}, {chttpd_auth, default_authentication_handler}

[couchdb]
single_node = true

[admins]
admin = {{ admin_password }}
jenkins = {{ jenkins_password }}
