[Unit]
Description=statastic_app
Requires=docker.service
After=docker.service

[Service]
Restart=always
Environment=EXTRNAL_URL={{app_external_url}}
Environment=OIDC_URL={{app_oidc_url}}
Environment=OIDC_CLIENT_SECRET={{oidc_client_secret}}
ExecStart=/usr/bin/docker run --name statastic_app \
 -p127.0.0.1:3001:3001 \
 -e EXTRNAL_URL\
 -e OIDC_URL\
 -e OIDC_CLIENT_SECRET\
 -e PORT=3001\
 registry.gitlab.com/statastic/statastic-app:{{ statastc_app_version }}

[Install]
WantedBy=default.target
