
server {

    listen 443;
    server_name argocd.{{fqdn}};

    # to get njs logging to work use common access log
    # access_log            /var/log/nginx/argocd.access.log;

    location ^~ /.well-known {
      root /var/www/html;
    }

    location / {
      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
      proxy_set_header        X-Forwarded-Host argocd.{{fqdn}};

      proxy_pass          http://192.168.200.200:30037;
      proxy_read_timeout  90;

      proxy_redirect      http://192.168.200.200:30037  https://argocd.{{fqdn}};

      # set size to enable upload of data
      client_max_body_size 20m;
    }
}
