server {

    listen 443;
    server_name wildfly.{{fqdn}};

    # to get njs logging to work use common access log
    # access_log            /var/log/nginx/wildfly_access.log;

    location ~ / {
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        # Fix the “It appears that your reverse proxy set up is broken" error.
        proxy_pass          http://10.37.37.37:3131;
        proxy_read_timeout  90;


        proxy_redirect      http://10.37.37.37:3131  https://wildfly.{{fqdn}};
        proxy_redirect      http://wildfly.{{fqdn}}:9990/console https://wildfly.{{fqdn}}:9443/console;
    }
}

server {
    listen 9443 ssl default deferred;
    server_name wildfly.{{fqdn}};

    ssl_certificate         /etc/nginx/fullchain.pem;
    ssl_certificate_key     /etc/nginx/privkey.pem;
    ssl_trusted_certificate /etc/nginx/fullchain.pem;

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;
    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;

    location ~ / {

        proxy_set_header        Host $host:3737;
        proxy_set_header        Origin http://$host:3737;

        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        proxy_set_header        X-Forwarded-Port 3737;

        proxy_pass          http://10.37.37.37:3737;
        proxy_read_timeout  90;

        proxy_redirect      http://10.37.37.37:3737  https://wildfly.{{fqdn}}:9443;
    }
}