[Unit]
Description=wildfly
Requires=docker.service
After=docker.service

[Service]
Restart=always
Environment=ADMIN_PASSWORD={{wildfly_admin_password}}
ExecStart=/usr/bin/docker run --name wildfly \
 -p 10.37.37.37:3131:8080 \
 -p 10.37.37.37:3737:9990 \
 -e TZ=Europe/Berlin \
 -e ADMIN_USER=admin \
 -e ADMIN_PASSWORD \
 -e KEYCLOAK_HOST=https://keycloak.{{fqdn}} \
 -e WILDFLY_OVERRIDING_ENV_VARS=1 \
 -e SUBSYSTEM_UNDERTOW_SERVER_DEFAULT_SERVER_HTTP_LISTENER_DEFAULT__PROXY_ADDRESS_FORWARDING=true \
 -v /data/wildfly/deployments:/opt/jboss/wildfly/standalone/deployments/ \
 --mount source=volume_wildfly,target=/data \
 registry.gitlab.com/statastic/statastic-wildfly:{{ wildfly_docker_tag }}
ExecStop=/usr/bin/docker stop -t 2 wildfly
ExecStopPost=/usr/bin/docker rm -f wildfly

[Install]
WantedBy=default.target
