jenkins:
  authorizationStrategy: "loggedInUsersCanDoAnything"

  securityRealm:
    oic:
      authorizationServerUrl: "https://keycloak.{{fqdn}}/realms/statastic/protocol/openid-connect/auth"
      clientId: "jenkins"
      clientSecret: "${CLIENT_SECRET}"
      disableSslVerification: false
      endSessionEndpoint: "https://keycloak.{{fqdn}}/realms/statastic/protocol/openid-connect/logout"
      escapeHatchEnabled: false
      logoutFromOpenidProvider: true
      scopes: "web-origins acr address phone openid roles offline_access profile microprofile-jwt email"
      tokenServerUrl: "https://keycloak.{{fqdn}}/realms/statastic/protocol/openid-connect/token"
      userInfoServerUrl: "https://keycloak.{{fqdn}}/realms/statastic/protocol/openid-connect/userinfo"
      userNameField: "preferred_username"

  globalNodeProperties:
    - envVars:
        env:
        - key: STAGE
          value: {{stage}}
jobs:
  - script: |
      job('seed') {
        steps {
          scm {
              git {
                  remote {
                      url('https://gitlab.com/statastic/jenkins-seed.git')
                      branch('{{stage}}')
                  }
                  extensions {
                      wipeOutWorkspace()
                  }
              }
          }
          steps {
            dsl {
              external('*.groovy')
            }
          }
        }
      }
security:
  globalJobDslSecurityConfiguration:
    useScriptSecurity: false
