server {

    listen 443;
    server_name jenkins.{{fqdn}};

    # to get njs logging to work use common access log
    # access_log            /var/log/nginx/jenkins_access.log;

    location ^~ /.well-known {
      root /var/www/html;
    }

    location / {
      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;

      # Fix the “It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://192.168.200.200:30041;
      proxy_read_timeout  90;

      proxy_redirect      http://192.168.200.200:30041  https://jenkins.{{fqdn}};

      # set size to enable upload of plugins
      client_max_body_size 5m;
    }
}
