
server {

    listen 443;
    server_name influxdb.{{fqdn}};

    # to get njs logging to work use common access log
    # access_log            /var/log/nginx/influxdb_access.log;

    location ^~ /.well-known {
      root /var/www/html;
    }

    location / {
      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
      proxy_set_header        X-Forwarded-Host influxdb.{{fqdn}};

      # Fix the “It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://127.0.0.1:8086;
      proxy_read_timeout  90;

      proxy_redirect      http://127.0.0.1:8086  https://influx.{{fqdn}};

      # set size to enable upload of data
      client_max_body_size 20m;
    }
}
