[Unit]
Description=influxdb
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecPreStart=/usr/bin/docker rm -f influxdb
Environment=DOCKER_INFLUXDB_INIT_PASSWORD={{ influxdb_password_admin }}
ExecStart=/usr/bin/docker run --name influxdb \
            -p127.0.0.1:8086:8086 \
            -e DOCKER_INFLUXDB_INIT_MODE=setup \
            -e DOCKER_INFLUXDB_INIT_USERNAME={{influxdb_admin_user}} \
            -e DOCKER_INFLUXDB_INIT_PASSWORD \
            -e DOCKER_INFLUXDB_INIT_ORG=statastic \
            -e DOCKER_INFLUXDB_INIT_BUCKET=statastic-bucket \
            --mount source=volume_influxdb_config,target=/etc/influxdb2 \
            --mount source=volume_influxdb_data,target=/var/lib/influxdb2 \
            influxdb:{{ influxdb_version }}
ExecStop=/usr/bin/docker stop -t 2 influxdb
ExecStopPost=/usr/bin/docker rm -f influxdb

[Install]
WantedBy=default.target